
data/uniprot_sprot.fasta

data/uniprot_sprot.fasta.gz

data/filtered_106A_Female_Mix_GATCAG_L004_R1.fastq

*.gz

*.fastq

*.phr

*.pin

*.psq

*.phr

*.pin

*.psq

data/uniprot-all.fasta

*.fasta

tutorials/DESeq2 tutorial/data/Phel_diffexpressed_transcriptome.nhr

tutorials/DESeq2 tutorial/data/Phel_diffexpressed_transcriptome.tab

tutorials/DESeq2 tutorial/data/Galaxy8-[Phel_transcriptome.tab].tabular

tutorials/DESeq2 tutorial/data/Galaxy8-[Phel_transcriptome.tab].tabular

tutorials/DESeq2 tutorial/data/Galaxy9-[nohead_Phel_DEGlist.tab].tabular

tutorials/Phel_diffexpressed_transcriptome.fasta

tutorials/Phel_diffexpressed_transcriptome.nhr

tutorials/DESeq2 tutorial/data/Phel_diffexpressed_transcriptome.nin

*.nhr

*.fasta

*.nsq

*.fasta

*.fasta

tutorials/Phel_diffexpressed_transcriptome.tab

tutorials/BLAST-tutorial/data/Oly-transcriptome-2k.fa 

tutorials/BLAST-tutorial/data/Oly-transcriptome-2k.fa

data/OlyO_v6_transcriptome.fa

data/kallisto-index-OlyO-v6

analyses/blastx-11-06

analyses/blastx-11-06
.Rproj.user

data/Galaxy-OlyO_v6_transcriptome.tabular

data/OlyO_v6_transcriptome_contigsonly.tabular

data/alltreatments_DEG_Uniprot.tab

data/alltreatments_DEG_Uniprot_nohead.tab
